@import "./variables";

@mixin pop12 {
  font-family: $fontPoppins;
  font-size: 12px;
  color: $card-title-color;
}
@mixin pop14 {
  font-family: $fontPoppins;
  font-size: 0.8rem;
}

@mixin cardDesign {
  background: rgba(244, 244, 244, 0.9);
  box-shadow: 0px 12px 16px rgba(6, 17, 26, 0.09);
  backdrop-filter: blur(14px);
  border-radius: 2rem;
}

@mixin popIn16 {
  font-family: $fontPoppins;
  font-size: 16px;
}

@mixin popIn18 {
  font-family: $fontPoppins;
  font-size: 18px;
}

@mixin popIn20 {
  font-family: $fontPoppins;
  font-size: 20px;
}

@mixin violetBoldText {
  color: #697ce4;
  font-weight: 700;
}

@mixin addBtn {
  background: $addBtnBg;
  border: 1px solid rgba(255, 255, 255, 0.74);
  color: #ffffff;
  font-weight: 600;
  @include pop14;
}

@mixin submitBtn {
  background: $submitBtnBg;
  border: 2px solid rgba(255, 255, 255, 0.67);
  box-shadow: 0px 8px 11px rgba(6, 17, 26, 0.09);
  @include pop14;
  color: #ffffff;
  border-radius: 0.6rem;
  font-weight: 600;
}

@mixin cancelBtn {
  background: $cancelBtnBg;
  border: 2px solid rgba(255, 255, 255, 1);
  box-shadow: 0px 8px 11px rgba(6, 17, 26, 0.09);
  @include pop14;
  color: #ffffff;
  border-radius: 0.6rem;
  font-weight: 600;
}

@mixin deleteBtn {
  background: #ec6072;
  border: 2px solid rgba(255, 255, 255, 0.67);
  border-radius: 3rem;
  @include pop14;
  color: #ffffff;
  border-radius: 0.6rem;
  font-weight: 600;
}
