.css-qbdosj-Input {
  display: none;
}

.css-1u9des2-indicatorSeparator {
  display: none !important;
  background-color: transparent;
}

.css-1jqq78o-placeholder {
  color: #abafb1 !important;
}

.css-1fdsijx-ValueContainer {
  padding: 0 !important;
}

.css-ysh6lj-control:hover {
  border-color: transparent !important;
}

.css-ysh6lj-control {
  box-shadow: none !important;
}

.css-1b5jg5j-control,
.css-g9l322-control {
  width: 100% !important;
  justify-content: center !important;
}

.css-g9l322-control:hover {
  border-color: transparent !important;
}

.css-1fdsijx-ValueContainer {
  flex: unset !important;
}
